body {
  font-size: 100%;
}

body.x-iphone-os.x-phone {
  font-size: 114%;
}

body.x-android-os.x-phone {
  font-size: 120%;
}

.wrapper {
  background: url(../images/book-casing.png) no-repeat;
  background-size: 17.6em 24.33em;
  padding-top: 1em;
  min-height: 24em;
}

.content {
  background: url(../images/papers.png) no-repeat;
  background-size: 16.91em 23.53em;
  padding-top: 1em;
  min-height: 23.2em;
  width: 17.65em;
}

h1.select-drink {
  background: url(../images/select-your-drink.png) no-repeat;
  background-size: 11.11em 1.54em;
  margin-left: 2.75em;
  text-indent: -9999px;
}

.clear {
  clear: both;
}

#dp-menu-items {  
  margin-left: 1.1em;
}

#dp-menu-items li {
  width: 7.5em;
  height: 6em;
  display: block;
  float: left;
  margin: 0;
  text-indent: -9999px;
}

#dp-menu-items li.last {
 margin-right: 0; 
}

#dp-menu-items li.all-drinks {
  background: url(../images/all-drinks.png) no-repeat center;
  background-size: 4.99em 3.64em;
}

#dp-menu-items li.all-drinks.x-item-selected {
  background: url(../images/all-drinks-selected.png) no-repeat center;
}

#dp-menu-items li.favorites {
  background: url(../images/favorites.png) no-repeat center;
  background-size: 4.16em 3.5em;
}

#dp-menu-items li.favorites.x-item-selected {
  background: url(../images/favorites-selected.png) no-repeat center;
}

#dp-menu-items li.drink-type {
  background: url(../images/drink-type.png) no-repeat center;
  background-size: 6.45em 4.94em;
}

#dp-menu-items li.drink-type.x-item-selected {
  background: url(../images/drink-type-selected.png) no-repeat center;
}

#dp-menu-items li.liquor-type {
  background: url(../images/liquor-type.png) no-repeat center;
  background-size: 6.95em 5.24em;
}

#dp-menu-items li.liquor-type.x-item-selected {
  background: url(../images/liquor-type-selected.png) no-repeat center;
}

#dp-menu-items li.add-ons {
  background: url(../images/add-ons.png) no-repeat center;
  background-size: 4.27em 3.31em;
}

#dp-menu-items li.add-ons.x-item-selected {
  background: url(../images/add-ons-selected.png) no-repeat center;
}

#dp-menu-items li.most-popular {
  background: url(../images/most-popular.png) no-repeat center;
  background-size: 6.09em 3.86em
}

#dp-menu-items li.most-popular.x-item-selected {
  background: url(../images/most-popular-selected.png) no-repeat center;
}

#dp-drink-list, #dp-subcategory-list {
  padding: 0 1.25em;
}

#dp-drink-list li, #dp-subcategory-list li {
  position: relative;
  margin-bottom: 0.75em;
}

#dp-subcategory-list li { 
  border-bottom: 2px solid #adb5b9;
  padding: 0 5px;
  width: 96%;
}

#dp-drink-list li img {
  background: url(../images/img-background.png) no-repeat;
  background-size: 4.25em 3.67em;
  width: 4.25em;
  height: 3.67em;
  padding: 5px;
  display: block;
  float: left;
}

#dp-drink-list li .drink-content {
  float: left;
  width: 9.34em;
  height: 3.34em;
  margin: 0 10px;
  border-bottom: 2px solid #adb5b9;
}

#dp-drink-list li .drink-content h2, 
#dp-subcategory-list li h2 {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 0.85em;
  font-family: Helvetica serif;
  color: #3f5c74;
}

#dp-drink-list li .drink-content p {
  font-size: 0.7em;
  color: #000;
}

#dp-drink-list li .add-to-favorites {
  position: absolute;
  right: -5px;
  top: 0;
  background: url(../images/star.png);
  background-size: 1.35em 1.10em;
  width: 1.35em;
  height: 1.10em;
}

#dp-drink-list li .add-to-favorites.selected {
  background: url(../images/star-selected.png);
}



