body {
  font-size: 100%;
}

body.x-iphone-os.x-phone {
  font-size: 114%;
}

body.x-android-os.x-phone {
  font-size: 120%;
}

.dp-panel {
  background: url(../images/background.png) repeat-y;
  font-family: "AmericanTypewriter";
}

.wrapper {
  background: url(../images/book-top.png) no-repeat;
  background-size: 17.6em 1.5em;
  padding-top: 1em;
  min-height: 24em;
}

.content {
  background-image: url(../images/book-bottom.png), url(../images/book-repeat.png);
  background-repeat: no-repeat, repeat-y;
  background-position: left bottom, left top;
  background-size: 17.6em 1em;
  padding: 1em 0;
  min-height: 23.2em;
  width: 17.65em;
}

h1.select-drink {
  background: url(../images/select-your-drink.png) no-repeat;
  background-size: 11.11em 1.54em;
  width: 11.11em;
  height: 1.54em;
  margin-left: 2.75em;
  text-indent: -9999px;
}

.clear {
  clear: both;
}

#dp-menu-items {  
  margin-left: 1.1em;
}

#dp-menu-items li {
  width: 7.5em;
  height: 6em;
  display: block;
  float: left;
  margin: 0;
  text-indent: -9999px;
}

#dp-menu-items li.last {
 margin-right: 0; 
}

#dp-menu-items li.all-drinks {
  background: url(../images/all-drinks.png) no-repeat center;
  background-size: 4.99em 3.64em;
}

#dp-menu-items li.favorites {
  background: url(../images/favorites.png) no-repeat center;
  background-size: 4.16em 3.5em;
}

#dp-menu-items li.drink-type {
  background: url(../images/drink-type.png) no-repeat center;
  background-size: 6.45em 4.94em;
}

#dp-menu-items li.liquor-type {
  background: url(../images/liquor-type.png) no-repeat center;
  background-size: 6.95em 5.24em;
}

#dp-menu-items li.add-ons {
  background: url(../images/add-ons.png) no-repeat center;
  background-size: 4.27em 3.31em;
}

#dp-menu-items li.most-popular {
  background: url(../images/most-popular.png) no-repeat center;
  background-size: 6.09em 3.86em
}

#dp-drink-list, #dp-subcategory-list {
  padding: 0 1.25em;
}

#dp-drink-list li, #dp-subcategory-list li {
  position: relative;
  margin-bottom: 0.75em;
}

#dp-subcategory-list li { 
  border-bottom: 2px solid #adb5b9;
  padding: 0 5px;
  width: 96%;
}

#dp-drink-list li img {
  background: url(../images/img-background.png) no-repeat;
  background-size: 4.25em 3.67em;
  width: 4.25em;
  height: 3.67em;
  padding: 5px;
  display: block;
  float: left;
}

#dp-drink-list li .drink-content {
  float: left;
  width: 9.34em;
  height: 4.2em;
  margin: 0 10px;
  border-bottom: 2px solid #adb5b9;
}

#dp-drink-list li .drink-content h2, 
#dp-subcategory-list li h2 {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 0.85em;
  color: #3f5c74;
}

#dp-drink-list li .drink-content p {
  font-size: 0.7em;
  color: #000;
}

#dp-drink-list li .add-to-favorites {
  position: absolute;
  right: -5px;
  top: 0;
  background: url(../images/star.png);
  background-size: 1.35em 1.10em;
  width: 1.35em;
  height: 1.10em;
}

#dp-drink-list li .add-to-favorites.selected {
  background: url(../images/star-selected.png);
}

#drink-view #img-wrapper {
  clear: both;
  overflow: hidden;
  width: 70%;
  margin-left: 2.7em;
}

#drink-view img {
  width: 9.29em;
  height: 7.77em;
  background: url(../images/large-img-background.png) no-repeat;
  background-size: 9.29em 7.77em;
  display: block;
  float: left;
  padding: 10px;
}

#drink-view #add-to-fave {
  width: 2.67em;
  height: 1.79em;
  background: url(../images/large-star.png) no-repeat;
  background-size: 2.67em 1.79em;
  display: block;
  float: left;
}

#drink-view #add-to-fave.selected {
  background: url(../images/large-star-selected.png);
}

#drink-view #ingredients-wrapper,
#drink-view #directions-wrapper {
  clear: both;
  padding: 1.4em 0.8em 0.8em 0.8em;
  margin: 1.9em 0.8em 0em;
  background: #f0f0ee;
  width: 85%;
  position: relative;
  -webkit-box-shadow: 5px 5px 8px #888;
}

#drink-view #ingredients-wrapper h2,
#drink-view #directions-wrapper h2 {
  background: url(../images/red-header.png) no-repeat;
  background-size: 7.15em 1.8em;
  width: 7.15em;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  color: #fff;
  position: absolute;
  top: -16px;
}

#drink-view #ingredients li,
#drink-view #directions li {
  overflow: hidden;
}

#drink-view #ingredients li + li,
#drink-view #directions li + li {
  margin-top: 0.3em;
}

#drink-view #ingredients .amount,
#drink-view #directions .ordinal {
  display: block;
  float: left;
  width: 3.8em;
  color: #696969;
  font-size: 0.85em;
  line-height: 1.4em;
}

#drink-view #directions .ordinal {
  width: 1.5em;
}

#drink-view #ingredients .ingredient,
#drink-view #directions .direction {
  display: block;
  float: left;
  color: #415d75;
  font-size: 0.8em;
  line-height: 1.4em;
  width: 12.2em;
}

#drink-view #directions .direction {
  width: 13.2em;
  font-weight: normal;
}



